# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/.gradle
android/local.properties
android/key.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/firebase_app_id_file.json
ios/GoogleService-Info.plist

# IDE
.idea/
*.iml
